.bg__gameover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232323;
  z-index: -2;
}

main {
  width: 850px;
  height: 450px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .dead__koala {
    width: 185px;
    height: 154px;
    margin-top: 18px;
    img { 
      width: 100%;
      height: 100%;
    }
  }

  .warning__text {
    margin: 44px 10px auto;
    width: 481px;
    height: 88px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .text__message {
    position: relative;
    top: -82px;
    font-size: 35px;
    animation: fadeIn 1.5s infinite;
    a {
      color: white;
    }
  }

}

