.bush_left4 {
  width: 56px;
  height: 350px;
  background: url('../img/level4/bush_left4.png') no-repeat;
  background-size: cover;
}

.bush_down4 {
  width: 643px;
  height: 50px;
  background: url('../img/level4/bush_down4.png') no-repeat;
  background-size: cover;
}

.outside_bush_right {
  width: 133px;
  height: 70px;
  background: url('../img/level4/outside_bush_right.png') no-repeat;
  background-size: cover;
}

.axe1 {
  width: 65px;
  height: 50px;
  background: url('../img/side_menu/weapon_icons/axe1.png') no-repeat;
  background-size: cover;
}

.extinguisher1 {
  width: 45px;
  height: 70px;
  background: url('../img/side_menu/weapon_icons/extinguisher1.png') no-repeat;
  background-size: cover;
}